doctype html
html(lang='en')
    head

        title Projects



        include ./head.pug
        link(href='/css/gallery-materialize.css', rel='stylesheet')
        link(href='/css/gallery.css', rel='stylesheet')


    body
        include ./menu.pug

        main
            .parallax-container.valign-wrapper#particle-footer(style='height:80vh')
                .parallax
                    img.active(src='/images/gallery.jpg', alt='control room', style='filter: brightness(50%)')
                    h1.center.white-text(style='font-size:6em; font-weight:bold;margin-top:30vh;letter-spacing:15px;') Form. Space. Architecture.

                           
            #portfolio.section.gray
                .gallery.row

                    each project in projects
                        .col.l4.m6.s12.gallery-item.gallery-expand
                            .gallery-curve-wrapper
                                a.gallery-cover.gray
                                    img.responsive-img(src='/project/image/'+project.id, alt='project')
                                .gallery-body
                                    .title-wrapper
                                        h3 #{project.name}
                                        span.price #{project.cost}
                                        p Finished on #{project.dateformatted}
                                    h5 Owner #{project.owner}
                                    p Homepage:
                                        a(href=project.url) #{project.url}
                                    p.description #{project.description}



                                //- .gallery-action
                                    a.btn-floating.btn-large.waves-effect.waves-light
                                        i.material-icons favorite

                    else
                        p.col.s12.center There are no projects.



        include ./footer.pug

        script(src='/js/materialize-old.js')

        script(src='/js/imagesloaded.pkgd.min.js')
        script(src='/js/masonry.pkgd.min.js')
        script(src='/js/color-thief.min.js')
        script(src='/js/galleryExpand.js')

        script(src='/js/init.js')
